name: SpringTest0
on: [push]

jobs:
  build:
    name: build and run
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11' # The JDK version to make available on the path.
        java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
        architecture: x64 # (x64 or x86) - defaults to x64


    - name: Build with Gradle
      run: |
        hostname
        uname
        id
        gradle build
        ls -lrt ./build/libs
        java -jar ./build/libs/springtest0-1.0.jar
